body {
  background-color: #181818;
  color: whitesmoke;
}

.navbar,
.container__sidebar {
  background-color: #202020;
}

.logo__youtubecv #youtube-paths path {
  fill: whitesmoke;
}

.link__view {
  color: #3ea6ff;
}

.search__video input {
  background-color: #121212;
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

.search__video input::placeholder {
  color: #acacac;
}

.theme__app {
  background-color: #181818;
}

.date__time,
.time__view,
.views__view {
  color: #8f8f8f !important;
}

.logo__youtubecv:hover {
  background-color: #353535;
}

.card__video:hover {
  background-color: #313131;
}

.author__video {
  color: #dbdbdb;
}

.pace .pace-progress {
  background: #2299dd !important;
}

.info__primary__view {
  border-bottom: 1px solid rgba(255, 255, 255, 0.144);
}

.view__details__description {
  background-color: #181818;
}

.more__details {
  color: #8f8f8f;
}

.more__details:hover {
  background-color: #3f3e3e;
  color: #ebe9e9;
}

.menu__bars {
  fill: #e3e4e6;
}

.remove__search {
  color: #e3e4e6 !important;
}

.menu__bars:hover,
.remove__search:hover {
  background-color: rgb(68, 67, 67);
}

.options__menu .item__menu {
  color: #bbb9b9;
}

.options__menu i {
  color: #b8b8b8;
}

.options__menu .item__menu:hover {
  background-color: rgb(63, 63, 63);
}

.dropdown-content {
  background-color: rgb(39, 38, 38);
}

.btn__clean {
  color: #e2e2e2;
}

.drop__list__history {
  background-color: rgb(56, 56, 56);
}

.item__list__text {
  padding: 5px 10px;
  color: #dadada;
  cursor: pointer;
}

.item__list__text:hover {
  background-color: rgb(75, 75, 75);
}

.delete__item__history {
  color: #3ea6ff;
}

.search__video__history {
  background-color: rgb(41, 41, 41);
}

.input__search__history::placeholder {
  color: rgb(180, 180, 180);
}

.input__search__history:focus {
  border: 1px solid #7a99bd;
}

.btn__search__history {
  color: #d6d6d6;
}

.input__search__history {
  background-color: #212122;
  color: rgb(223, 221, 221);
}

.options__video__history:hover {
  background-color: #383838;
}

.content__save__video:hover {
  background-color: rgb(44, 44, 44);
}
