<div class="container__view">
  <div class="card__view__video">
    <iframe src="https://www.youtube.com/embed/<%= videoId %>?autoplay=1" id="player" allowfullscreen="1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
    <div class="title__view">
      <%= title %>
    </div>
    <div class="description__view">
      <%= description %>
    </div>
    <div class="time__view">
      <%= time %>
    </div>
  </div>
</div>
<div class="previous__panel">
  <button class="btn__prev__panel wave"><i class="fas fa-arrow-left"></i> <label>Regresar</label></button>
</div>